.dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
}

.navbar-nav .nav-link {
    cursor: pointer;
}.dropdown-menu-end {

    right: 0;

    left: auto;
}